* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

/* side bar */
.sidebar {
    background: #1a1718;
    color: #fff;
}

.sidebar a {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}

.header {
    text-align: center;
    top: auto;
    margin: 2em 2em 2em 2em;
}

.blogtoc-title {
    margin: 0;
}

.blogtoc * {
    color: #fff;
    line-height: 1.5em;
}

/* article */
.blogtitle{
    margin: em auto;
}

.content {
    padding: 2em 1em 0;
}

.section-number {
    padding-right : 10px;
    font-weight   : bold;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin:auto;
    display:block;
}

/* code */
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 11.5px;
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 24px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
pre.code {
  white-space: pre;
  word-break: keep-all;
  word-wrap: normal;
  overflow: auto;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        /* margin: 80% 2em 0; */
        text-align: left;
        top: 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}
